@{
    ViewData["Title"] = "关于我们";
}
<h2>@ViewData["Title"]</h2>

<p>英捷创软科技（北京）有限公司（英文：LEANSOFT）是由微软Regional Director 和MVP徐磊创立的专门从事软件工程解决方案，咨询服务和产品研发的高科技企业；
    公司自成立至今已经为多家大型企业提供了相关的服务，另外为全国各地的上百家企业提供过培训，参与人数超过千人。</p>

<p>过去的2016年，我们在金融，电信和传统制造业等多个行业与多家大型企业的研发中心合作，包括中国农业银行，中国银行，兴业银行，华为，上汽集团等。在刚刚举行
    的Ignite 2016微软技术大会的keynote演讲上中国农业银行互联网金融项目作为微软DevOps解决方案在国内的案例被推荐给了参会的超过3100名嘉宾。</p>

<p>公司核心人员均具备超过10年的IT从业经验和丰富的软件工程，敏捷开发和DevOps解决方案咨询服务能力，所有成员均具备微软认证工程师称号，
    并有微软最有价值专家MVP两名；这些核心成员具备丰富的从业经验，在微软，IBM，HSBC等大型企业工作多年，对于大型企业研发流程，工具和文化治理具有独到的见解和实际操作经验。</p>

<p>
    核心业务：
</p>

<ol>
    <li>咨询服务：
        <br />
        <ul>
            <li>IT研发环境治理：包括IT组织架构梳理，研发团队结构设计，流程设计和工具落地策略。</li>
            <li>DevOps落地策略规划：从组织文化建设到持续交付能力建设，提供自上而下的思维方式转变，自下而上的工程实践规划和横向贯穿的工具落地规划。</li>
        </ul>
    </li>
    <li>敏捷教练服务
        <br />
        <ul>
            <li>敏捷方法论培训：包括敏捷宣言解读，Scrum/Kanban方法落地，用户故事驱动的敏捷开发（UDAD）框架等</li>
            <li>ScrumMaster轮询服务：帮助团队开始使用Scrum方法运作团队管理，定期参与团队活动，指导团队进入持续改进状态</li>
        </ul>
    </li>
    <li>工程实践服务
        <br />
        <ul>
            <li>DevOps工具链建设：包括业界DevOps工具链选型咨询，现有企业IT架构与DevOps工具链融合与集成方案制定，企业DevOps演进规划</li>
            <li>DevOps工具链的落地服务：系统实施，维护，配置，二次开发和系统集成；管理员和用户培训，日常使用技术支持等；我们可以提供基于以下产品的落地服务
                                                               i.      微软Team Foundation Server或Visual Studio Team Services
                                                             ii.      Atlassian：包括JIRA, Confluence, Bitbucket, HipChat, Bamboo
                                                           iii.      开源方案：GitLab CE/Enterprise, GitHub Enterprise, Jenkins</li>
            <li>容器化DevOps工具链建设：包括基于docker的容器化开发，测试，运维环境的建设，管理员和用户培训；我们可以提供以下产品的落地服务
                                                               i.      Docker and Docker Swarm
                                                             ii.      Mesos/Marathon and DCOS
                                                           iii.      K8s</li>
        </ul>
    </li>
    <li>DevOps工具链与微软Azure公有云平台的集成服务：包括以上所有DevOps工具链的云端建设或与现有企业数据中心的对接服务</li>
</ol>
