@{
    ViewData["Title"] = "联系方式";
}
<h2>@ViewData["Title"]</h2>

<address>
    北京市<br />
    海淀区西四环玲珑路<br />
    玲珑天地A1002
</address>

<address>
    <strong>电子邮件:</strong> <a href="mailto:info@lean-soft.cn">info@lean-soft.cn</a><br />
</address>
