@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>当前容器ID：@ViewData["ContainerID"]</h2>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>基于Azure的DevOps数据中心</h2>
        <ul>
            <li>Asp.net Core</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>相关文档</h2>
        <ul>
            <li><a href="http://docs.devopshub.cn/docs/azure-workshop/en/latest/">动手实验：容器化DevOps数据中心</a></li>
            <li><a href="http://docs.devopshub.cn/docs/vsalm-hols/en/latest/">动手实验：DevOps敏捷开发动手实验</a></li>
        </ul>
    </div>
</div>
